.search_result {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-m);
    .btn_link {
      cursor: pointer;
      color: var(--blue);
      text-align: end;
    }
  }
  .row_a,
  .row_b {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    .txt_h {
      font-size: var(--text-l);
      font-weight: 600;
    }
    .book_list {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: var(--space-m);
    }
    .more {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        width: 100%;
        max-width: 300px;
        background-color: rgba(218, 225, 234, 0.3);
        padding: var(--space-s) var(--space-m);
        color: var(--gray1);
        font-weight: 500;
        font-size: var(--text-m);
        border-radius: var(--round-full);
        @media (prefers-color-scheme: dark) {
          background-color: rgba($color: #ffffff, $alpha: 0.15);
        }
      }
    }
  }
}
