// 학습메인 > 사용자의 학습레벨의 시리즈 리스트
.series_list {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  .txt_h {
    font-size: var(--text-d-1);
    font-weight: 600;
  }
  .series_list_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--space-m);
    align-items: end;
  }
}
