// 학습메인 > 사용자의 진행중인 학습 리스트
.todo_list {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  // padding-bottom: var(--space-xs);
  .txt_h {
    font-size: var(--text-d-1);
    font-weight: 600;
  }
  .row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: var(--space-s);
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 5px;
    &::-webkit-scrollbar {
      display: none;
    }
    img {
      min-width: 120px;
    }
    .more_button {
      min-width: 120px;
      border: 2px dotted var(--gray2);
      color: var(--gray1);
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: var(--round-m);
      margin-bottom: 48px;
    }
  }
}
