.hall_off_fame_rank {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  .group_comment {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-m);
    .txt_comment {
      color: var(--gray1);
    }
    .btn_link {
      cursor: pointer;
      color: var(--blue);
      font-weight: 400;
    }
  }
  .group_leaderboard {
    display: block;
  }
}

.leaderboard {
  .table_header {
    padding: var(--space-xs) 0;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr 3fr;
    justify-items: center;
    color: var(--gray1);
    font-weight: 400;
    border-top: 2px solid var(--gray2);
    border-bottom: 2px solid var(--gray2);
    background-color: var(--white);
    position: sticky;
    top: calc(78px + 48px);
    z-index: 3;
    @media (prefers-color-scheme: dark) {
      background-color: rgba($color: #ffffff, $alpha: 0.15);
      border-top: 2px solid rgba($color: #ffffff, $alpha: 0.15);
      border-bottom: 2px solid rgba($color: #ffffff, $alpha: 0.15);
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
    }
  }
  .table_row {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr 3fr;
    justify-items: center;
    align-items: center;
    padding: var(--space-s) 0;
    font-weight: 500;
    border-bottom: 1px dotted var(--gray2);
    @media (prefers-color-scheme: dark) {
      border-bottom: 1px dotted rgba($color: #ffffff, $alpha: 0.15);
    }
    &.top_ranker {
      background-color: var(--light);
      @media (prefers-color-scheme: dark) {
        background-color: #ffffff10;
      }
    }
    .rank {
      font-size: var(--text-xl);
      color: var(--gray1);
      &.rank1,
      &.rank2,
      &.rank3 {
        color: var(--black);
        @media (prefers-color-scheme: dark) {
          color: var(--white);
        }
      }
    }
    .student_name {
      width: 80%;
      height: 60px;
      display: flex;
      align-items: center;
      gap: var(--space-m);
      position: relative;
      @mixin topRankerBg($bgImage, $top) {
        img {
          position: relative;
          z-index: 1;
        }
        &::after {
          content: "";
          position: absolute;
          top: $top;
          left: -15px;
          z-index: 0;
          width: 90px;
          height: 90px;
          background-image: url($bgImage);
          background-size: 90px;
          background-repeat: no-repeat;
        }
      }
      &.rank1 {
        @include topRankerBg(
          $bgImage: "/src/images/@ranking/rank1_bg.svg",
          $top: -24px
        );
      }
      &.rank2 {
        @include topRankerBg(
          $bgImage: "/src/images/@ranking/rank2_bg.svg",
          $top: -14px
        );
      }
      &.rank3 {
        @include topRankerBg(
          $bgImage: "/src/images/@ranking/rank3_bg.svg",
          $top: -12px
        );
      }
      .txt_student_name {
        font-size: var(--text-xl);
      }
    }
    .txt_earn_points,
    .txt_date {
      font-size: var(--text-d-1);
    }
    .txt_earn_points {
      width: calc(100% - 80px);
      text-align: end;
      margin-right: 80px;
    }
  }
}
