.search_result {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  @media screen and (max-width: 600px) {
    gap: var(--space-m);
  }
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-m);
    .btn_link {
      cursor: pointer;
      color: var(--blue);
      min-width: 60px;
      text-align: end;
    }
  }
  .row_a,
  .row_b {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    .txt_h {
      font-size: var(--text-l);
      font-weight: 600;
    }
    .book_list {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: var(--space-m);
      @media screen and (max-width: 600px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
