.payment_history {
    .t_header {
        background-color: var(--gray3);
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
        border: 1.5px solid var(--gray3);
        border-radius: var(--round-m) var(--round-m) 0 0;
        @media (prefers-color-scheme: dark) {
            background-color: rgba($color: #fff, $alpha: 0.15);
            border: none;
        }
        .th_item {
            padding: var(--space-xxs);
            font-size: var(--text-s);
            font-weight: 500;
        }
    }
    .t_body {
        border: 1.5px solid var(--gray3);
        border-radius: 0 0 var(--round-m) var(--round-m);
        @media (prefers-color-scheme: dark) {
            border: 1.5px solid rgba($color: #fff, $alpha: 0.15);
        }
        .tr {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            justify-items: center;
            border-bottom: 1.5px solid var(--gray3);
            @media (prefers-color-scheme: dark) {
                border-bottom: 1.5px solid rgba($color: #fff, $alpha: 0.15);
            }
            &:nth-last-child(1) {
                border-bottom: 0;
            }
            .td_item {
                padding: var(--space-s) var(--space-xxs);
                font-size: var(--text-s);
                font-weight: 500;
            }
        }
        .empty_message {
            min-height: 200px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}