.detailed_reports_list {
  display: flex;
  flex-direction: column;
  gap: var(--space-xxl);
}

.detailed_report_item {
  // position: relative;
  // z-index: 1;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: var(--space-m);
  // padding: var(--space-s);
  .book_cover {
    display: flex;
    align-items: start;
    overflow: hidden;
    min-width: 90px;
    img {
      display: block;
      border-radius: var(--round-m);
      border: 1px solid rgba($color: #000000, $alpha: 0.05);
    }
  }
  .report {
    min-height: 150px;
    position: relative;
    @mixin afterStyle {
      content: "";
      position: absolute;
      z-index: -1;
      left: -100%;
      top: -20px;
      right: -100%;
      bottom: -10px;
      // border-radius: 0 0 var(--round-l) var(--round-l);
    }
    &.pass {
      &::after {
        @include afterStyle;
        background-color: var(--light);
        border-top: 2px solid var(--blue);
        @media (prefers-color-scheme: dark) {
          background-color: #15b5f120;
        }
      }
    }
    &.fail {
      &::after {
        @include afterStyle;
        background-color: #f9eeee;
        border-top: 2px solid var(--red);
        @media (prefers-color-scheme: dark) {
          background-color: #ff274f20;
        }
      }
    }
    .report_container {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      gap: var(--space-s);
      font-size: 0.95em;
      .col1 {
        display: flex;
        flex-direction: column;
        gap: var(--space-xxs);
        width: calc(100% - 20px);
        .book_code {
          font-size: var(--text-m);
          color: var(--gray1);
        }
        .title {
          font-size: var(--text-d-1);
          font-weight: 500;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .col2 {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: var(--space-xxs);
        .label {
          font-size: var(--text-m);
          color: var(--gray1);
        }
        .contents {
          font-size: var(--text-m);
          font-weight: 500;
        }
      }
    }
  }
}

.speak_reports_list {
  display: grid;
  gap: var(--space-s);
  grid-template-columns: repeat(3, 1fr);
}

.speak_report_item {
  display: flex;
  flex-direction: column;
  gap: var(--space-xxs);
  align-items: center;
  justify-content: flex-end;
  .book_cover {
    position: relative;
    margin-bottom: var(--space-m);
    .book_cover_img {
      cursor: pointer;
      filter: contrast(103%);
      border-radius: var(--round-m);
      border: 1.2px solid rgba($color: #000000, $alpha: 0.15);
      @media (prefers-color-scheme: dark) {
        border: 1.2px solid rgba($color: #ffffff, $alpha: 0.2);
      }
      // box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      //   rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      //   rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
    @mixin mark {
      width: 40px;
      height: 40px;
      border-radius: 100px;
      border: 2px solid var(--white);
      position: absolute;
      bottom: -15px;
      left: calc(50% - 20px);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 25px;
    }
    .pass_mark {
      @include mark;
      background-color: var(--blue);
      background-image: url("/src/images/check-icons/check_white.svg");
    }
    .fail_mark {
      @include mark;
      background-color: var(--red);
      background-image: url("/src/images/delete-icons/x_white.svg");
    }
  }
  .result {
    text-align: center;
    font-weight: 600;
    .label {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--space-xxs);
      .pass {
        color: var(--blue);
      }
      .fail {
        color: var(--red);
      }
    }
  }
  .date {
    text-align: center;
    font-size: var(--text-s);
    &.pass {
      color: var(--blue);
    }
    &.fail {
      color: var(--red);
    }
  }
}

.writing_reports_list {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.writing_report_item {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: var(--space-m);
  padding: var(--space-s);
  .book_cover {
    display: flex;
    align-items: start;
    overflow: hidden;
    min-width: 90px;
    img {
      display: block;
      border-radius: 0 0 var(--round-m) var(--round-m);
    }
  }
  .report {
    min-height: 150px;
    @mixin afterStyle {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 0 0 var(--round-l) var(--round-l);
    }
    &.pass {
      &::after {
        @include afterStyle;
        background-color: var(--light);
        border-top: 2px solid var(--blue);
        @media (prefers-color-scheme: dark) {
          background-color: #15b5f120;
        }
      }
    }
    &.fail {
      &::after {
        @include afterStyle;
        background-color: #f9eeee;
        border-top: 2px solid var(--red);
        @media (prefers-color-scheme: dark) {
          background-color: #ff274f20;
        }
      }
    }
    .report_container {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      gap: var(--space-s);
      font-size: 0.95em;
      .col1 {
        display: flex;
        flex-direction: column;
        gap: var(--space-xxs);
        width: calc(100% - 20px);
        .book_code {
          font-size: var(--text-m);
          color: var(--gray1);
        }
        .title {
          font-size: var(--text-d-1);
          font-weight: 500;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .col2 {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: var(--space-xxs);
        .label {
          font-size: var(--text-m);
          color: var(--gray1);
        }
        .contents {
          font-size: var(--text-m);
          font-weight: 500;
        }
      }
    }
  }
}
