// 단계선택 콘테이너
.intro_choose_level {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--white);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (prefers-color-scheme: dark) {
    background-color: #0c0541;
  }
  .intro_choose_level_container {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--space-s);
      .txt_h {
        font-size: var(--text-d-3);
        font-weight: 600;
      }
      .txt_p {
        font-size: var(--text-l);
        font-weight: 500;
        color: var(--gray1);
      }
    }
    .body {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: var(--space-s);
      margin-bottom: 15vh;
    }
  }
}

// 단계선택 아이템
.intro_choose_item {
  // cursor: pointer;
  width: 100%;
  min-height: 350px;
  // border: 2px solid var(--gray2);
  border-radius: var(--round-l);
  padding: var(--space-s);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // gap: var(--space-s);
  // position: absolute;
  background-color: var(--white);
  z-index: 1;
  transition: bottom 0.5s, background-color 0.3s;
  bottom: 0;
  @media (prefers-color-scheme: dark) {
    background-color: #0c0541;
    // border: 2px solid rgba($color: #ffffff, $alpha: 0.15);
  }
  &.active {
    bottom: 110px;
    background-color: var(--blue);
    .exp {
      .txt_l,
      .txt_h,
      .txt_p {
        color: var(--white);
      }
    }
  }
  .exp {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxs);
    .txt_l {
      font-size: var(--text-s);
      color: var(--white);
      font-weight: 500;
    }
    .txt_h {
      font-size: var(--text-d-1);
      color: var(--white);
      font-weight: 600;
      margin-bottom: 10px;
    }
    .txt_p {
      font-size: var(--text-m);
      color: rgba($color: #ffffff, $alpha: 0.5);
    }
  }
  
  .choose_box {
    display: grid;
    gap: var(--space-xs);
    img {
      border: 1px solid rgba($color: #ffffff, $alpha: 0.15);
      border-radius: var(--round-m);
    }
  }

  .symbol_image {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
.buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  .preview {
    text-align: center;
    margin-bottom: var(--space-m);
    .preview_link {
      cursor: pointer;
      display: inline;
      color: var(--blue);
    }
  }
}
